@import url("https://fonts.googleapis.com/css2 family=Poppins:wght@300&display=swap");

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-content: stretch;
  box-sizing: border-box;
  width: 375px;
  height: 1100px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 92px;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
  background-color: #fff;
  order: 0;
  margin: 0;
}

#logo {
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 76px;
  height: 20px;
  top: 10px;
  left: 12px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

  border-bottom-left-radius: 80px;
}

#head-section.active {
  filter: blur(4px);
}

body.active {
  overflow-y: hidden;
}

.head {
  display: flex;
  align-items: center;
  flex-grow: 0;
  order: 0;
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 128px 24px 0;
}