.form1 {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    margin-bottom: 0;
    gap: 20px;
    list-style: none;
}

.types {
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    list-style: none;
}

textarea {
    background: hsl(0, 0%, 100%);
    width: 200px;
    height: 170px;
    padding: 10px;
    border: 1px solid hsl(198, 16%, 84%);
    list-style: none;
}

.form1 input {
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid #cfd8dc;
    width: 90%;
    height: 48px;
    margin-bottom: 12px;
    padding: 10px;
    list-style: none;
}
      
.form1 textarea {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    width: 90%;
    height: 140px;
    margin-bottom: 4px;
    padding: 10px;
    list-style: none;
}
      
.form1 .btn-input {
    background-color: #f4f4f5;
    color: #6070ff;
    text-align: center;
    text-decoration: none;
    padding: 4px;
    width: 50%;
    margin: 0 auto;
    margin-right: 50%;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    list-style: none;
}
      
.form1 .btn-input:hover {
    background-color: #6070ff;
    color: #fff;
    letter-spacing: 0.03em;
    list-style: none;
}
      
.form1 .btn-input:active {
    background-color: #2230d2;
    color: #fff;
    letter-spacing: 0.03em;
    list-style: none;
}
      
.form1 .btn-input:focus {
    background-color: #13141a;
    color: #fff;
    letter-spacing: 0.03em;
    list-style: none;
}
      
.border-line {
    border-bottom: 8px solid #0d151e;
    margin: 32px 120px 12px 121px;
    border-radius: 10px;
    list-style: none;
}