@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.body1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.md-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.primary-link {
  color: #6070ff;
}

.primary-title {
  color: #091e42;
}

.primary-text {
  color: #344563;
}

.secondary-links {
  color: #7f8cff;
}

.third-text {
  color: #6b778c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.firstcont {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Poppins", "Courier New", Courier, monospace;
}

.fbackgdesk {
  background: #fff url(../images/Headerbg.png);
  background-repeat: no-repeat;
}

.left-menu {
  display: flex;
  margin-left: 20px;
}

.right-menu {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-right: 25px;
}

.burguer {
  display: none;
}

.head-container {
  max-width: 916px;
  width: 100%;
  margin: auto;
}

.head1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.headh2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.tlsconnect {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  width: 30%;
  justify-content: space-between;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 916px;
  min-height: 300px;
  flex-direction: column;
  margin: auto;
  padding: 0;
}

.card {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  width: 100%;
  min-height: 375px;
  height: 100%;
  max-width: 916px;
  margin-bottom: 142px;
  flex-direction: row;
  justify-content: space-between;
}

.card-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 375px;
  border-radius: 24px 24px 24px 24px;
  background-color: #fff;
  margin: auto;
}

.card-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 375px;
  border-radius: 24px 24px 24px 24px;
  background-color: #fff;
  margin: auto;
}

.newme-title-tonic {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.card-tonic3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  gap: 12px;
  border-radius: 8px;
}

.wordcanopi {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.wordback {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.word2015 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.dot {
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 8px;
  height: 8px;
}

.description-tonic {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.card-tonic4 {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-between;
  border-radius: 8px;
}

.card-tonic5 {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
  border-radius: 8px;
}

.tonichtml {
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.toniccss {
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.tonicJava {
  padding: 4px 12px;
  border-radius: 8px;
  background: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.buttontonic {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  width: 100%;
}

.go-buttontonic {
  padding: 12px;
  gap: 10px;
  width: 126px;
  height: 48px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
  margin-top: 30px;
}

.go-buttontonic:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

.container-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  min-height: 924px;
  flex-direction: column;
  margin: auto;
}

.cardaboutme {
  display: flex;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  width: 100%;
  min-height: 375px;
  height: 100%;
  max-width: 1440px;
  margin-bottom: 142px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 50px;
}

.aboutme1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
}

.aboutmy {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.buttonab {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-items: auto;
  width: 100%;
}

.go-buttonab {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 182px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-buttonab:hover {
  transform: scale(1.1);
  background-color: rgb(57, 109, 242);
  color: rgb(223, 225, 230);
}

.languages {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: start;
}

.wlanguages {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-top: 150px;
}

.disable1 {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  margin-top: 170px;
}

.card-left1 {
  display: flex;
  flex-direction: column;
  border-radius: 24px 24px 24px 24px;
  background-color: #fff;
  margin: 20px;
  padding: 30px 30px 30px 30px;
}

.card-right1 {
  display: flex;
  flex-direction: column;
  border-radius: 24px 24px 24px 24px;
  background-color: #fff;
  margin: 20px;
  padding: 30px 30px 30px 30px;
}

.card1 {
  display: flex;
  background: #fff;
  margin-bottom: 142px;
  flex-direction: row;
  justify-content: space-between;
}

.lenguagelist {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 2;
  list-style: none;
  margin-top: 100px;
  margin-left: 0;
}

.abouljs {
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  list-style: none;
}

.ellipse {
  width: 48px;
  height: 48px;
  background: url("images/Ellipse.png");
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 10px;
}

.lanjav {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.aboulht {
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  list-style: none;
}

.elihtml {
  width: 48px;
  height: 48px;
  background: url("images/Elihtml.png");
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 10px;
}

.lanhtml {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  justify-content: center;
}

.aboulcss {
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style: none;
}

.elicss {
  width: 48px;
  height: 48px;
  background: url("images/Elicss.png");
  border: 1px solid #fff;
  margin-left: 10px;
  margin-top: 10px;
}

.lancss {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  justify-content: center;
}

.frm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
  width: 684px;
  height: 144px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
  margin-top: 1px;
}

.wframe {
  width: 684px;
  height: 72px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.wgramew {
  height: 24px;
  left: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

.sepa {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #def1e6 url("images/Separator\ Bottom.png");
}

.wskills {
  width: 684px;
  height: 72px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.wskillsw {
  height: 24px;
  left: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
}

#consection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background: url("/images/contact\ form\ background\ shapes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6070ff;
  border-top-left-radius: 80px;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  width: 100%;
  max-width: 920px;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 100%;
  height: 100%;
}

.contact h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  list-style: none;
  justify-content: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  list-style: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 27px;
  margin-top: 12px;
  margin-left: 0;
  list-style: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

#textarea {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
  list-style: none;
  position: absolute;
}

.types {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.form-group input {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cfd8dc;
  margin-bottom: 0;
  list-style: none;
  justify-content: stretch;
  align-items: start;
}

.form-group textarea {
  background-color: #fff;
  margin-bottom: 4px;
  list-style: none;
}

.form-group .btn-input {
  background-color: #f4f4f5;
  color: #6070ff;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  list-style: none;
  border-radius: 8px;
}

.form-group .btn-input:hover {
  background-color: #6070ff;
  color: #fff;
  letter-spacing: 0.03em;
  list-style: none;
}

.form-group .btn-input:active {
  background-color: #2230d2;
  color: #fff;
  letter-spacing: 0.03em;
  list-style: none;
}

.form-group .btn-input:focus {
  background-color: #6070ff;
  color: #fff;
  letter-spacing: 0.03em;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .banner-container {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .subtitulo {
    margin-right: 20px;
  }

  .social-links {
    justify-content: space-between;
    width: 100%;
  }

  .card {
    flex-direction: column;
  }

  .card-left {
    width: 100%;
  }

  .card-right {
    width: 100%;
  }

  .right-menu {
    display: none;
  }

  .burguer {
    display: block;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #6070ff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.03s ease-in-out;
  }

  .banner {
    height: 100%;
    margin-top: 130px;
    margin-bottom: 130px;
  }

  .card1 {
    flex-direction: column;
  }

  .card-left1 {
    width: 100%;
  }

  .card-right1 {
    width: 100%;
  }
}
